---
const { title, date, tags } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <article>
      <h1>{title}</h1>
      <p><small>{date}</small></p>

      <ul>
        {tags?.map(tag => <li>{tag}</li>)}
      </ul>

      <hr />
      <slot />
    </article>
  </body>
</html>
