---
const posts = Object.values(
  import.meta.glob('./*.md', { eager: true })
).sort(
  (a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
);
---
<h1>Blog</h1>

<ul>
  {posts.map(post => (
    <li>
      <a href={post.url}>
        {post.frontmatter.title}
      </a>
      <small> — {post.frontmatter.date}</small>
    </li>
  ))}
</ul>
