---
export async function getStaticPaths() {
  const posts = Object.values(
    import.meta.glob('../blog/*.md', { eager: true })
  );

  const tags = new Set();

  posts.forEach(post => {
    post.frontmatter.tags?.forEach(tag => tags.add(tag));
  });

  return [...tags].map(tag => ({
    params: { tag }
  }));
}

const { tag } = Astro.params;

const posts = Object.values(
  import.meta.glob('../blog/*.md', { eager: true })
).filter(post =>
  post.frontmatter.tags?.includes(tag)
);
---
<h1>Posts tagged "{tag}"</h1>

<ul>
  {posts.map(post => (
    <li>
      <a href={post.url}>
        {post.frontmatter.title}
      </a>
    </li>
  ))}
</ul>
